@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  background: rgb(255,251,245);
  background: linear-gradient(180deg, rgba(255,251,245,1) 0%, rgba(255,255,255,1) 100%);
}

h1.title-font {
  font-family:"Prata";
}

.github-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 90px solid rgb(245,241,235);; 
  border-left: 90px solid transparent;
  right: 0;
  top: 0;
  position: absolute;
}

.github-triangle a {
  position: absolute;
  top: -75px;
  right: 15px;
}