@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  background: rgb(255,251,245);
  background: linear-gradient(180deg, rgba(255,251,245,1) 0%, rgba(255,255,255,1) 100%);
}

h1.title-font {
  font-family:"Prata";
}